.grid {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(5, 1fr);
  width: 500px;
}

.bulb {
  width: 100px;
  height: auto;
}

html {
  background-color: rgb(51,65,57);
}

#root {
  background-image: url('./images/bckgrnd.png');
  background-size: cover;
  background-size: 1200px 675px;
  background-repeat: no-repeat;
  background-color: rgb(51,65,57);
}

.randomsButton {
  margin: 10px;
}

.appContainer {
  height: 650px;
}

.theHex {
  width: 500px;
  margin-left: 110px;
  vertical-align: top;
}

.theGame {
  margin-top: 1px;
  width: 500px;
}

.float-child {
  float: left;
}  

.justTheGame {
  margin-left: 54px;
}

.randomClicksButton {
  margin: 10px 10px 14px 37px;
  border: 5px solid rgb(19,32,25);
  background-color: rgb(78, 98, 87);
  color: lime;
}